<h1>{{ customerOrders.CustomerModel?.fullName }}'s Orders</h1>
<br/>

<div class="navbar">
  <ul class="nav navbar-nav">
    <li class="toolbar-item">
      <a href="/customers">
        <span class="glyphicon glyphicon-align-justify"></span> Customer List
      </a>
    </li>
    <li class="toolbar-item">
      <a type="button" [routerLink]="['/customers/' + customerOrders.customer?.id + '/orders/add']" >
        <span class="glyphicon glyphicon-plus"></span> Add Orders
      </a>
    </li>
  </ul>
</div>

<div class="col-lg-6">
  <div class="card widget-flat">
    <div class="card-body">
      <div class="float-end">
        <i class="mdi mdi-currency-usd widget-icon"></i>
      </div>
      <h5 class="text-muted fw-normal mt-0" title="Average Revenue">Revenue</h5>
      <h3 id="revenue" class="mt-3 mb-3">{{customerOrders.getTotalSales() | currency:'AUD':'symbol'}}</h3>
    </div> <!-- end card-body-->
  </div> <!-- end card-->
</div>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Id</th>
    <th>Product</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of customerOrders.OrderModels">
    <th scope="row">{{order.id}}</th>
    <td>{{order.product}}</td>
    <td>{{order.price | currency:'AUD':'symbol'}}</td>
    <td>{{order.quantity}}</td>
    <td>{{order.orderTotal | currency:'AUD':'symbol'}}</td>
    <td>{{order.status}}</td>
    <td>
      <div class="btn-group pull-right">
        <a type="button" class="btn btn-secondary">Edit Order</a>
        <a (click)="onCancelOrder(order.id)" type="button" class="btn btn-secondary">Cancel Order</a>
      </div>
    </td>
  </tr>
  </tbody>
</table>
