<h1>{{ customerOrders.CustomerModel?.fullName }}'s Orders</h1>
<br/>

<div class="navbar">
  <ul class="nav navbar-nav">
    <li class="toolbar-item">
      <a href="/customers">
        <span class="glyphicon glyphicon-align-justify"></span> Customer List
      </a>
    </li>
  </ul>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Id</th>
    <th>Product</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of customerOrders.OrderModels">
    <th scope="row">{{order.id}}</th>
    <td>{{order.product}}</td>
    <td>{{order.price}}</td>
    <td>{{order.quantity}}</td>
    <td>{{order.orderTotal}}</td>
    <td>{{order.status}}</td>
    <td>
      <button type="button" class="btn btn-primary">Add Orders</button>
    </td>
  </tr>
  </tbody>
</table>
