<h1>Customer List</h1>
<br/>

<!-- Added navbar to switch between list view shown in video and new edit view -->
<div class="navbar">
  <ul class="nav navbar-nav">
    <li class="toolbar-item">
      <a (click)="editViewEnabled=false" [class.active]="!editViewEnabled">
        <span class="glyphicon glyphicon-align-justify"></span> List View
      </a>
    </li>
    <li class="toolbar-item">
      <a (click)="editViewEnabled=true" [class.active]="editViewEnabled">
        <span class="glyphicon glyphicon-pencil"></span> Edit View
      </a>
    </li>
    <li class="toolbar-item">
      <a (click)="openModal('customer-modal-add')">
        <span class="glyphicon glyphicon-plus"></span> Add Customer
      </a>
    </li>
  </ul>
</div>

<jw-modal id="customer-modal-add">
  <h1>Add new customer</h1>
  <div>
    <form #customerForm="ngForm" (ngSubmit)="save(customerModel)">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="name">First Name</label>
            <input #firstName="ngModel" [(ngModel)]="customerModel.firstName" class="form-control" name="firstName" required
                   type="text">
            <div [hidden]="firstName.valid" class="alert alert-danger">First Name is required</div>
          </div>
          <div class="form-group">
            <label for="name">Last Name</label>
            <input #lastName="ngModel" [(ngModel)]="customerModel.lastName" class="form-control" name="lastName" required
                   type="text">
            <div [hidden]="lastName.valid" class="alert alert-danger">Last Name is required</div>
          </div>
          <div class="form-group">
            <label for="name">Email</label>
            <input #email="ngModel" [(ngModel)]="customerModel.email" class="form-control" name="email" required type="text">
            <div [hidden]="email.valid" class="alert alert-danger">Email is required</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="name">City</label>
            <input #city="ngModel" [(ngModel)]="customerModel.city" class="form-control" name="city" required type="text">
            <div [hidden]="city.valid" class="alert alert-danger">City is required</div>
          </div>
          <div class="form-group">
            <label for="name">Address</label>
            <input #address="ngModel" [(ngModel)]="customerModel.address" class="form-control" name="address" required
                   type="text">
            <div [hidden]="address.valid" class="alert alert-danger">Address is required</div>
          </div>
        </div>
      </div>

      <button [disabled]="!customerForm.valid" class="btn btn-success" type="submit">Submit</button>&nbsp;
      <span (click)="closeModal('customer-modal-add');" class="btn btn-default" type="button">Cancel</span>
    </form>
  </div>
  <div class="row alert-container" *ngIf="serverError">
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button (click)="serverError = false" type="button" class="close" data-dismiss="alert" aria-label="Close"><span
        aria-hidden="true">&times;</span></button>
      <strong>Error!</strong>
      <p>{{errorMessage}}</p>
    </div>
  </div>
</jw-modal>

<div class="row">
  <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <input #filter type="text" id="input-search"
             [value]="keyword"
             (keyup.escape)="onKeywordChange('')"
             (keyup.enter)="onSearchByKeyword()"
             (keyup)="onKeywordChange($event.target.value)" class="form-control" placeholder="Search By Email">
    </div>
    <button id="btn-search" (click)="onSearchByKeyword()" type="button" class="btn btn-default btn-search">Search</button>
  </form>
</div>

<div *ngIf="!editViewEnabled">
  <div class="row header-row">
    <div class="col-md-2">
      Name
    </div>
    <div class="col-md-3">
      Email
    </div>
    <div class="col-md-3">
      Address
    </div>
    <div class="col-md-2">
      City
    </div>
    <div class="col-md-2">
      Actions
    </div>
  </div>
  <div *ngFor="let customer of customers" class="row customer-list">
    <div class="col-md-2">
      {{ customer.firstName  }} {{ customer.lastName }}
    </div>
    <div class="col-md-3">
      {{ customer.email }}
    </div>
    <div class="col-md-3">
      {{ customer.address }}
    </div>
    <div class="col-md-1">
      {{ customer.city }}
    </div>
    <div class="col-md-3">
      <div class="btn-group pull-right">
        <a href="customers/{{customer?.id}}/orders" type="button" class="btn btn-secondary">View Orders</a>
        <a [routerLink]="['/customers/' + customer?.id + '/orders/add']"  type="button" class="btn btn-secondary">Add Orders</a>
      </div>
    </div>
    <br/>
  </div>
</div>

<!-- Added editable list to demonstrate doing an HTTP PUT -->
<div *ngIf="editViewEnabled">
  <div *ngFor="let customer of customers" class="container">
    <div *ngIf="editId !== customer.id" class="row">
      <div class="col-md-4">
        {{ customer.firstName  }} {{ customer.lastName }}
      </div>
      <div class="col-md-8">
                <span (click)="editId=customer.id"
                      class="btn btn-success pull-left">Edit</span>
      </div>
    </div>
    <div *ngIf="editId == customer.id">
      <h4>{{ customer.firstName  }} {{ customer.lastName }}</h4>
      <br/>
      <form #customerForm="ngForm" (ngSubmit)="save(customer)">
        <div class="form-group">
          <label for="name">First Name</label>
          <input #firstName="ngModel" [(ngModel)]="customer.firstName" class="form-control" name="firstName" required
                 type="text">
          <div [hidden]="firstName.valid" class="alert alert-danger">First Name is required</div>
        </div>
        <div class="form-group">
          <label for="name">Last Name</label>
          <input #lastName="ngModel" [(ngModel)]="customer.lastName" class="form-control" name="lastName" required
                 type="text">
          <div [hidden]="lastName.valid" class="alert alert-danger">Last Name is required</div>
        </div>
        <div class="form-group">
          <label for="name">Email</label>
          <input #email="ngModel" [(ngModel)]="customer.email" disabled class="form-control" name="email" required type="text">
          <div [hidden]="email.valid" class="alert alert-danger">Email is required</div>
        </div>
        <div class="form-group">
          <label for="name">City</label>
          <input #city="ngModel" [(ngModel)]="customer.city" class="form-control" name="city" required type="text">
          <div [hidden]="city.valid" class="alert alert-danger">City is required</div>
        </div>
        <div class="form-group">
          <label for="name">Address</label>
          <input #address="ngModel" [(ngModel)]="customer.address" class="form-control" name="address" required
                 type="text">
          <div [hidden]="address.valid" class="alert alert-danger">Address is required</div>
        </div>
        <button [disabled]="!customerForm.valid" class="btn btn-success" type="submit">Submit</button>&nbsp;
        <span (click)="editId=0" class="btn btn-default" type="button">Cancel</span>
      </form>
    </div>
    <br/>
  </div>

  <span [hidden]="!errorMessage" class="alert alert-danger">{{ errorMessage }}</span>
</div>
