<h1>Customers</h1>
<br/>

<!-- Added navbar to switch between list view shown in video and new edit view -->
<div class="navbar">
  <ul class="nav navbar-nav">
    <li class="toolbar-item">
      <a (click)="editViewEnabled=false" [class.active]="!editViewEnabled">
        <span class="glyphicon glyphicon-align-justify"></span> List View
      </a>
    </li>
    <li class="toolbar-item">
      <a (click)="editViewEnabled=true" [class.active]="editViewEnabled">
        <span class="glyphicon glyphicon-pencil"></span> Edit View
      </a>
    </li>
  </ul>
</div>

<div *ngIf="!editViewEnabled">
  <div class="row header-row">
    <div class="col-md-2">
      Name
    </div>
    <div class="col-md-4">
      Email
    </div>
    <div class="col-md-4">
      Address
    </div>
    <div class="col-md-2">
      City
    </div>
  </div>
  <div *ngFor="let customer of customers" class="row">
    <div class="col-md-2">
      {{ customer.firstName  }} {{ customer.lastName }}
    </div>
    <div class="col-md-4">
      {{ customer.email }}
    </div>
    <div class="col-md-4">
      {{ customer.address }}
    </div>
    <div class="col-md-2">
      {{ customer.city }}
    </div>
    <br/>
  </div>
</div>

<!-- Added editable list to demonstrate doing an HTTP PUT -->
<div *ngIf="editViewEnabled">
  <div *ngFor="let customer of customers" class="container">
    <div *ngIf="editId !== customer.id" class="row">
      <div class="col-md-4">
        {{ customer.firstName  }} {{ customer.lastName }}
      </div>
      <div class="col-md-8">
                <span (click)="editId=customer.id"
                      class="btn btn-success pull-left">Edit</span>
      </div>
    </div>
    <div *ngIf="editId == customer.id">
      <h4>{{ customer.firstName  }} {{ customer.lastName }}</h4>
      <br/>
      <form #customerForm="ngForm" (ngSubmit)="save(customer)">
        <div class="form-group">
          <label for="name">First Name</label>
          <input #firstName="ngModel" [(ngModel)]="customer.firstName" class="form-control" name="firstName" required
                 type="text">
          <div [hidden]="firstName.valid" class="alert alert-danger">First Name is required</div>
        </div>
        <div class="form-group">
          <label for="name">Last Name</label>
          <input #lastName="ngModel" [(ngModel)]="customer.lastName" class="form-control" name="lastName" required
                 type="text">
          <div [hidden]="lastName.valid" class="alert alert-danger">Last Name is required</div>
        </div>
        <div class="form-group">
          <label for="name">Email</label>
          <input #email="ngModel" [(ngModel)]="customer.email" class="form-control" name="email" required type="text">
          <div [hidden]="email.valid" class="alert alert-danger">Email is required</div>
        </div>
        <div class="form-group">
          <label for="name">City</label>
          <input #city="ngModel" [(ngModel)]="customer.city" class="form-control" name="city" required type="text">
          <div [hidden]="city.valid" class="alert alert-danger">City is required</div>
        </div>
        <div class="form-group">
          <label for="name">Address</label>
          <input #address="ngModel" [(ngModel)]="customer.address" class="form-control" name="address" required
                 type="text">
          <div [hidden]="address.valid" class="alert alert-danger">Address is required</div>
        </div>
        <button [disabled]="!customerForm.valid" class="btn btn-success" type="submit">Submit</button>&nbsp;
        <span (click)="editId=0" class="btn btn-default" type="button">Cancel</span>
      </form>
    </div>
    <br/>
  </div>

  <span [hidden]="!errorMessage" class="alert alert-danger">{{ errorMessage }}</span>
</div>
